html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #2d2d2d;
}

header {
    text-align: center;
    font-weight: bold;
    font-size: 350%;
    color: whitesmoke;
    font-family: "poor richard", Arial, Helvetica, sans-serif;
}

p {
    color: whitesmoke;
    font-size: 150%;
}

button {
    width: 60px;
    height: 30px;
    border-radius: 8px;
    background: crimson;
    color: whitesmoke;
    border-color: whitesmoke;
    position: relative;
    transition: top ease 0.5s;
    box-shadow: 0 4px crimson;
    transition-duration: 0.5s;
}

button:hover {
    cursor: pointer;
    background: #016FB9;
    box-shadow: 0 4px #016FB9; 
    
}

button:active {
    background: yellow;
    box-shadow: 0 1px yellow;
    color: black;
    transform: translatey(2px);
}

.container {
    display:flex;
    justify-content: center;
    align-content: center;
    /* border: 1px solid #fff; */
    width: 100%;
    height: 75%;

}

.square {
    position: relative;
    width: 90vmin;
    border: solid #016FB9;
    box-sizing: border-box;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 10%;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
}

#roll {
    width: 15%;
    height: 10%;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    font-size: 130%;
    margin-bottom: 13%;
}

#player1 {
    align-self: flex-start;
    padding-right: 50%;
    position: absolute;
}

#player2 {
    align-self: flex-start;
    padding-left: 50%;
    position: absolute;
}

#score1 {
    align-self: center;
    padding-right: 50%;
    position: absolute;
}
#score2 {
    align-self: center;
    padding-left: 50%;
    position: absolute;
}

#saveScore1 {
    align-self: flex-end;
    padding-right: 50%;
    position: absolute;
}

#saveScore2 {
    align-self: flex-end;
    padding-left: 50%;
    position: absolute;
}

.dice {
    width: 20%;
    padding-top: 5%;
    align-self: center;
    position: absolute;
}

#startAgain {
    align-self: flex-start;
    position: absolute;
    width: 15%;
    height: 10%;
    margin-top: 10%;
}

#hold {
    width: 15%;
    height: 10%;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    font-size: 130%;
    margin-bottom: 1%;
}

#wincount1 {
    align-self: flex-start;
    padding-right: 90%;
    position: absolute;
}
#wincount2 {
    align-self: flex-start;
    padding-left: 90%;
    position: absolute;
    
}